<?xml version="1.0"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://g1ant.com/XmlSchema/v3/Settings">
  <Credentials />
  <Databases />
  <Log>
    <Level>Trace</Level>
  </Log>
  <Main>
    <ShowStep>false</ShowStep>
    <ShowStepTime>1000</ShowStepTime>
    <Startup>false</Startup>
    <StartMinimized>false</StartMinimized>
    <StopKey>ctrl+f12</StopKey>
  </Main>
  <Studio>
    <Styling>true</Styling>
    <WordWrap>true</WordWrap>
    <Font>
      <Name>Courier New</Name>
      <Size>12</Size>
    </Font>
    <Shortcuts />
  </Studio>
  <Triggers />
  <Variables />
  <Subscriptions />
  <WebServer>
    <Tokens />
  </WebServer>
</Settings>